<!-- 
    ########################################################
    # HEADER ###############################################
    ########################################################
-->
<ion-header>
    <app-topbar [showsAppName]="false" [insertableTitle]="contentTitle" [showsBackButton]="true"></app-topbar>
    <ion-grid no-padding>
        <ion-row text-center>
            <!--
                ########################################################
                # HEADER CODE CONTENT ##################################
                ########################################################
            -->
            <ion-col class="flex-header" no-padding>
                <div  [class.codeCard]="true" [class.animateCodeCard]="codeIsExpanded" no-padding>
                    <!-- headerCode output -->
                    <pre [class.no-wordbreak]="!wordbreakIsOn" [innerHTML]="headerCode"></pre>
                </div>

                <div class="comp-icon-holder" [class.comp-icon-holder-invert]="codeIsExpanded">
                    <!-- tells angular to listen for changes @ $event-->
                    <ion-button (click)="showTreePopup($event)" fill="clear" color="tertiary" size="small"
                    [class.fade-button-force]="!codeIsExpanded" [class.fade-button]="codeIsExpanded">
                        <ion-icon slot="icon-only" name="git-network"></ion-icon>
                    </ion-button>

                    <ng-template [ngIf]="showExpandButton">
                        <!-- copy button -->
                        <ion-button 
                        [class.fade-button-force]="!codeIsExpanded" [class.fade-button]="codeIsExpanded"
                        (click)="toggleWordbreak()" fill="clear" color="tertiary" size="small">
                            <ion-icon slot="icon-only" name="ios-swap"></ion-icon>
                        </ion-button>
                        <!-- expand button -->
                        <ion-button [class.fade-button-force]="!codeIsExpanded" [class.fade-button]="codeIsExpanded"
                        fill="clear" color="tertiary" size="small" *ngIf="showExpandButton"
                            (click)="togglecodeIsExpanded()">
                            <ion-icon slot="icon-only" [style.display]="codeIsExpanded ? ['none'] : ['block']"
                                name="md-arrow-dropup"></ion-icon>
                            <ion-icon slot="icon-only" [style.display]="codeIsExpanded ? ['block'] : ['none']"
                                name="md-arrow-dropdown"></ion-icon>
                        </ion-button>
                    </ng-template>


                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-header>

<!-- 
    ########################################################
    # FOOTER ###############################################
    ########################################################
-->
<ion-footer>
    <!--
        ########################################################
        # LANGUAGE PICKER ######################################
        ########################################################
    -->
    <ion-item>
        <ion-label>Conteúdo em:</ion-label>
        <ion-select class="language-selector" slot="end" 
		(ionChange)="redirectToSelectedLanguage()" 
		[(ngModel)]="language" 
		[interfaceOptions]="customActionSheetOptions" 
		interface="action-sheet"
            placeholder="Select One">
            <ion-select-option value="JavaScript">JavaScript</ion-select-option>
            <ion-select-option value="Java">Java</ion-select-option>
        </ion-select>
    </ion-item>
</ion-footer>

<!-- 
    ########################################################
    # CONTENT ##############################################
    ########################################################
-->
<ion-content>
    <ion-grid no-padding>
        <ion-row>
            <ion-col>
                <div class="bodyCard">
                    <pre [innerHTML]="contentBody"></pre>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>