// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css?family=Crete+Round|Exo+2');

@mixin wordbreak {
    white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word; 
}

@mixin bg_grad($deg, $col1, $col2) {
    background: $col1;
    background: -moz-linear-gradient($deg, $col1 0%, $col2 100%);
    background: -webkit-linear-gradient($deg, $col1 0%, $col2 100%);
    background: linear-gradient($deg, $col1 0%, $col2 100%);
  }

.codeCard {
    background: rgb(61, 48, 48);
    color: rgb(187, 187, 187);
    padding: 1px 10px;
    margin-top: 5px;
    height: 36vh;
    max-height: 100%;
    transition: height, opacity, 0.45s cubic-bezier(1, 0.39, 0, 1.05);
    opacity: 1;
    
}

pre {
    margin: 0px 0px 0px 0px !important;
}

.codeCard pre {
    @include wordbreak();
    height: 100%;
    max-height: 100%;
    text-align: left;
}

.bodyCard pre {
    @include wordbreak();
    font-family: Arial;
}

.animateCodeCard {
    height: 0px;
    opacity: 0;
}

.searchbar {
  border-radius: 100px;
  color: white;
  text-align: center;
  @include bg_grad(45deg,#000000,#920000);
  margin: 5px 0 5px 0;
}

.searching {
    justify-content: center;
    display: flex; 
    padding-top: 18px;
}