<ion-header>
  <app-topbar [showsAppName]="false" [insertableTitle]="['Pesquisar']" [showsBackButton]="true"></app-topbar>
</ion-header>

<ion-content>
  <div class="search-header-container">
    <ion-item lines="none" class="remove-bg">
      <div class="searching" slot="start" *ngIf="userIsTyping">
        <ion-spinner name="crescent" color="light"></ion-spinner>
      </div>
      <ion-icon name="ios-checkmark" color="light" slot="start" *ngIf="!userIsTyping"></ion-icon>
      <ion-label class="search-header-white">{{ resultHeader}}</ion-label>
    </ion-item>
    <ion-item lines="none" *ngIf="canDisplaySecHeader" class="ion-text-center">
      <ion-label class="search-header-black"><span class="search-secondary-header">{{ outputHeader }}</span></ion-label>
    </ion-item>
  </div>

  
  <app-list-generator [searchEnabled]="true" [iterableList]="fetchedComponentList"></app-list-generator>
    

</ion-content>
<ion-footer *ngIf="userIsTyping">
  <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
</ion-footer>