<ion-header>
  <app-topbar [showsAppName]="true"></app-topbar>
</ion-header>
<ion-content [scrollY]="true">
  <ion-card [routerLink]="['/search']">
    <ion-card-header class="home-card-header">
      <ion-card-title>Introdução</ion-card-title>
    </ion-card-header>
    <ion-item lines="full">
      <ion-icon name="arrow-dropright-circle" slot="start"></ion-icon>
      <ion-label>Bem-vindo ao Syntaxe!</ion-label>
      <ion-button slot="end">INICIAR</ion-button>
    </ion-item>

    <ion-card-content>
      Guia que abrange as funcionalidades do aplicativo. Primeiros passos e sugestões de uso. 
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="['/list']">
    <ion-card-header class="home-card-header">
      <ion-card-title>Sumário</ion-card-title>
    </ion-card-header>
    <ion-item lines="full">
      <ion-icon name="arrow-dropright-circle" slot="start"></ion-icon>
      <ion-label>Explore!</ion-label>
      <ion-button fill="outline" slot="end">ABRIR</ion-button>
    </ion-item>

    <ion-card-content>
		Lista de todos os conceitos abordados - encontre-os em uma lista organizada por tópicos. Se precisar de direção, é só clicar aqui! 
    </ion-card-content>
  </ion-card>
</ion-content>